/* General Reset */
.bodypg7 {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(56,7,79);
    background: radial-gradient(circle, rgba(56,7,79,1) 50%, rgba(26,0,34,1) 100%);
    color: #FFFFFF;
}

.headerpg7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

.logopg7 {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 10px;
}

.navpg7 a {
    margin: 0 50px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}


.header-iconspg7 button {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
}

.mainpg7 {
    padding: 20px;
    text-align: center;
    /* background: rgb(56,56,56);
    background: radial-gradient(circle, rgba(56,56,56,1) 0%, rgba(56,56,56,1) 7%, rgba(12,12,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#383838",endColorstr="#0c0c0c",GradientType=1); */
    background-image: url('keyboard\ bg.png');
    background-repeat: no-repeat;
    border-radius: 60px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    height:700px;
    filter:drop-shadow(black 1rem 1rem 100px);
}

.explorepg7 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: -40px;
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -5px;
}

.productpg7 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product-imagepg7 img {
    width: 700px;
    height: auto;
    border-radius: 10px;
    
    
}

.product-detailspg7 {
    
    max-width: 500px;
    text-align: left;
    position: absolute;
    top: 100px;
    margin-left: 580px;
    
}

.product-detailspg7 h2 {
    font-size: 18px;
    color: #AAA6C3;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.product-detailspg7 h1 {
    font-size: 56px;
    font-weight: bold;
    margin: -10px 0;
    font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.product-detailspg7 p {
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 0;
    font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
    
}

.pricepg7 {
    font-size: 48px;
    font-weight: bold;
    margin: 30px 0;
    margin-top:30px;
    color: #ffffff;
}

.buy-nowpg7 {
    position: absolute;
    top: 345px;
    background-color: #8E44AD;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 26px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    height: px;
    margin-left: 75px;
}

.buy-nowpg7:hover {
    background-color: #732D91;
}

.blackpg7{
    filter: invert(100%) sepia(34%) saturate(450%) hue-rotate(190deg) brightness(95%) contrast(90%);
    height:45px
}

.imagespg7{
    display: flex;
    justify-content: left;
    align-items: center;
    
    gap: 20px;
    
}
.subimagepg7
{
 height: 220px;
 position: inherit;
 margin-top: 450px;
 
 filter:drop-shadow(black 1rem 1rem 90px);
}

.Mouse4pg7
{
    position: absolute;
    left :10px;
    height: 100px;
    bottom:150px;
     
    filter:drop-shadow(black 1rem 1rem 90px);
    rotate: 0deg;
}

#subimage2pg7
{
    height: 150px;
    rotate:50deg;
    margin-left: 20px;
    filter:drop-shadow(black 1rem 1rem 90px);
}
#subimage1pg7
{
    height: 220px;
    rotate:-70deg;
    margin-left: 50px;
    margin-top: 532px;
    filter:drop-shadow(black 1rem 1rem 90px);
}
#subimage3pg7
{
    height: 220px;
    margin-left: 10px;
    rotate:50deg;
    filter:brightness(1.2);
    filter:drop-shadow(black 1rem 1rem 90px);
}


.cart-btn-mainpg7{
    position: absolute;
    top: 350px;
    right: 0px;
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    

}

.money25pg7{
    font-size: 48px;
    font-weight: bold;
    margin: 30px 0;
    margin-top:30px;
    color: #ffffff;
}
